*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
   background: rgb(242,242,236);
   background: radial-gradient(circle, rgba(242,242,236,0.860921736858806) 0%, rgba(192,191,173,1) 100%, rgba(189,185,136,0.9757676752341562) 100%, rgba(106,106,106,0.8385127732733718) 100%);
}
.container{
   max-width: 1200px;
   margin: auto;
}

/*Header*/

header{
   padding: 20px 0;
   border-radius: 35px;
   width: 90%;
   margin: auto;
   margin-top: 50px;
   background: rgb(27,30,138);
   background: linear-gradient(90deg, rgba(27,30,138,0.7768881234134278) 0%, rgba(14,9,106,0.9561598320969013) 56%, rgba(2,0,36,0.7376724371389181) 100%);
}
.heading{
   display: flex;
   align-items: center;
   justify-content: space-between;
}
header ul{
   list-style: none;
   display: flex;
}
header ul li{
   margin-left: 80px;
}
header ul li a{
   letter-spacing: 2.5px;
   font-size: x-large;
   color: rgb(46, 177, 133);
   text-decoration: none;
}

/*main-wrapper*/

.main-banner{
   padding: 120px 35px 100px 20px;
}
.ant{
   max-width: 1000px;
   display: flex;
   align-items: flex-start;
   justify-content: space-between;
}
.ant h1{
   font-family: monospace;
   font-size: 40px;
   margin-bottom: 15px;
}
.ant p{
   letter-spacing: 1.8px;
   word-spacing: 13px;
   font-family: monospace;
   font-size: 22px;
   margin-bottom: 30px;
   max-width: 650px;
}
.ant a{
   font-family: monospace;
   font-size: 16px;
   background: rgb(209, 59, 192);
   text-decoration: none;
   border-radius: 10px;
   padding: 7px 10px;
   color: black;
}
.ant a:hover{
   text-decoration: underline;
}
.ant img{
   margin-left: 90px;
}

/*Register*/

.reg{
   padding: 75px 0;
}
.registration{
   display: flex;
   justify-content: center;
   
}
.subm_from{
   padding: 5px 8px;
   background: rgb(193, 222, 193);
   border: solid 1px black;
}

/*Footer*/

footer{
   padding: 20px 0;
   display: flex;
   justify-content: center;
   background: rgb(159,155,38);
   background: linear-gradient(230deg, rgba(159,155,38,0.860921736858806) 0%, rgba(151,149,66,1) 0%, rgba(25,199,125,1) 0%, rgba(22,119,160,1) 87%, rgba(106,106,106,1) 100%, rgba(21,92,171,1) 100%, rgba(189,185,136,0.9757676752341562) 100%);
}
footer ul{
   display: flex;
   list-style: none;
}
footer ul li{
   margin-left: 80px;
}
footer ul li:first-of-type{
   margin-left: 0;
}



